body{
    background-color: rgb(38, 121, 194);
    margin: 0;
}

#SakumaLapasLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 70px;
}
.Nosaukums{
    color: green;
    font-size: 30px;
}
.PrecuNavBars{
    background-color: rgb(42, 165, 83);
    width: 200px;
    min-width: 100px;
}
.nav-item:hover{
    background-color: rgb(98, 220, 138);
}
#Profilabilde{
    width: 70px;
    height: 50px;
}
#AkcijasReklamas{
    display: flex;
    gap: 10px;
    border: solid black 2px;
}
footer{
    background-color: aqua;
    margin-bottom: 0;
}
.augsejasiNav{
    background-color: red;
}
.galvenaisSaturs{
    display: flex;
    align-items: flex-start;
}
#AkcijasReklamas {
    flex-grow: 1; /* Aizņem visu atlikušo ekrāna vietu pa labi */
    padding: 20px;
}